body {
    margin: 1vh 1vw;
    background-color: rgba(34,39,56);
}
h1, h2 {
    color: white;
}
ul,
fieldset,
legend {
    border: 1px solid white;
    background-color: rgba(34,39,56);
    color: white;
}
ul {
    padding: 0;
    font-family: monospace;
}
li,
legend {
    list-style-type: none;
    padding: 0.2em 0.5em;
    background-color: black;
}
li:nth-of-type(even) {
    background-color: inherit;
}
#strgy-img { width: 1.5rem; margin-right: .5rem; }